<div class="container">
    <div class="card text-dark bg-light mt-3" >

    
    <div class="card-body">
        <h5  class="card-title">Change your password</h5>
            <form [formGroup]="userForm" class="card-body">

                <div class="col-6 m-2">
                    <label for="password"><h5>NEW Password:</h5></label>
                    <input [type]="hidePasswordFlag ? 'password' : 'text' "  class="form-control  mb-3 mx-3"  name="password" formControlName="password" placeholder="Add your password"  >
                    
                </div>
                <div class="col-6 m-2">
                    <label for="duplicatePassword"><h5>Repeat the NEW Password:</h5></label>
                    <input [type]="hidePasswordFlag ? 'password' : 'text' "  class="form-control  mb-3 mx-3"  name="duplicatePassword" formControlName="duplicatePassword" placeholder="Add your password"  >
                    
                </div>
                <div class="col-3">
                    <button class="btn btn-secondary mb-3 mx-3" (click)="toggleHidePassword()">
                        <i class="fas fa-eye" *ngIf=hidePasswordFlag></i>  
                        <i class="fas fa-eye-slash" *ngIf=!hidePasswordFlag></i>  

                    </button>
                </div>
                <div class="col-12 m-3"><button type="submit"  class="btn btn-primary" (click)="onSubmit()" [disabled]="userForm.status == 'INVALID'"  > Save </button></div>
                
                <h3 *ngIf="passwordChangedFlag" class="h3">Password successfully changed</h3>
                    
                   
            </form>
        
    </div>    


    </div>

</div>